<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

  <h1 class="title is-1">Search</h1>
  <h1>What word would you like to search for?</h1>
  <div class="columns is-centered">
    <form method="POST">
      <div class="column">
        <div class="field has-addons">
          <div class="control">
            {{ form.search_term(class="input", placeholder="Input search word") }}
          </div>
          <div class="control">
            {{ form.submit(class="button is-info is-centered") }}
          </div>
        </div>
      </div>
    </form>
  </div>
    <table style="width:100%", border="1">
        {% for sentence in sentences %}
        <tr>
            <td>{{sentence.sentence}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}