<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

  <h1 class="title is-1">Split a file</h1>
  <h1>What word would you like to search for?</h1>
  <div class="columns is-centered">
    <div class="column is-3">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="">
        </div>
        <div class="control">
          <a class="button is-primary">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}